@tailwind base;
@tailwind components;
@tailwind utilities;


.footer-heading {
  @apply text-lg font-semibold text-gray-900 mb-4;
}

.footer-list {
  @apply space-y-3 text-sm text-gray-600;
}

.footer-list a {
  @apply hover:text-orange-500 transition;
}

.social-icon {
  @apply w-9 h-9 rounded-full bg-white flex items-center justify-center
         text-orange-500 shadow hover:bg-orange-500 hover:text-white
         transition cursor-pointer;
}
